.textBox{
    border: 2px black solid;
    margin-right: 10px;
}

.userIn{
    margin-top:70px;
    margin-left: 27%;
}

.button{
    display: block;
    margin-top: 1em;        /*1em = 16px*/
    border-color: black;
    cursor: pointer;
    width: 55px;
    height: 35px;
    border-radius: 15px;
}